<div class="project">
  <%= form_for(local_assigns[:project] || @project) do |f| %>

      <div class="project-header">
        <%= f.label :title %>
      </div>

      <div class="project-todos">
        <%= f.fields_for(:todos) do |tf| %>
            <div class="todo">
              <%= tf.check_box :isCompleted %>
              <%= tf.label :text %>
            </div>
        <% end %>
      </div>

  <% end %>
</div>