<%= form_for @todo do |f| %>

    <div class="form_control">
      <%= f.label 'Выберите категорию:' %>
      <%= select_tag "project_id", options_for_select(Project.pluck(:title, :id)) %>
    </div>

    <div class="form_control">
      <%= f.label 'Введите текст задачи: ' %>
      <%= f.text_field :text %>
    </div>

    <div class="form_control">
      <%= f.submit 'Добавить' %>
    </div>

<% end %>